.consultation-form {
  max-width: 340px;
  padding: 20px 20px 23px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 23px 0 rgba(148, 148, 148, 0.17);
}

.consultation-form__input {
  padding: 10px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1.37;
  background-color: $light-second-color;
  border-radius: 4px;

  @media (max-device-width: $tablet-width) {
    font-size: 14px;
  }
}

.consultation-form__input::placeholder {
  color: $dark-color;
  opacity: 0.5;
}

.consultation-form__button {
  padding: 15px 15px;

  @media (max-device-width: $tablet-width) {
    font-size: 14px;
  }
}
