.custom-file-upload {
  padding: 15px 15px;
  font-family: inherit;
  color: $dark-color;
  background-color: $light-color;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border: 1px solid $accent-color;
  border-radius: 5px;
  text-align: center;
}
