.footer {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  background-color: $light-second-color;
  color: $dark-transparent-color;
  padding: 43px 0;

  @media (max-device-width: $tablet-width) {
    padding: 20px 0;
  }

  @media (max-device-width: $mobile-width) {
    padding: 28px 0;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  @media (max-device-width: $tablet-width) {
    flex-direction: column;
    row-gap: 30px;
  }
}

.footer__copiright {
  display: flex;
  column-gap: 30px;

  @media (max-device-width: $mobile-width) {
    flex-direction: column;
    row-gap: 15px;
  }
}
