.modal {
  display: none;
}

.modal--opened {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 0, 0, 0.78);
  z-index: 10;
}

.modal__content {
  max-width: 486px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px;
  background-color: $light-color;
  border-radius: 10px;
  text-align: center;
}
