.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form__input {
  width: 100%;
  padding: 19px;
  border: 1px solid $dark-second-color;
  border-radius: 5px;
  text-align: center;
}

.modal-form__button {
  width: 100%;
  padding: 19px;
}
