.service-card {
  border-radius: 15px;
  background-color: $light-color;
  box-shadow: 0 4px 20px 0 rgba(150, 150, 150, 0.25);
}

.service-card__img {
  border-radius: 15px 15px 0 0;
}

.service-card__body {
  padding: 28px 20px 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;

  @media (max-device-width: $tablet-width) {
    padding: 10px 19px 31px 12px;
    row-gap: 15px;
  }

  @media (max-device-width: $mobile-width) {
    padding: 16px 19px 24px 12px;
  }
}

.service-card__desc {
  font-weight: 600;
  line-height: 1.5;

  @media (max-device-width: $tablet-width) {
    font-weight: 700;
  }
}

.service-card__button {
  padding: 18px 34px;

  @media (max-device-width: $tablet-width) {
    padding: 15px 11px;
  }

  @media (max-device-width: $mobile-width) {
    padding: 17px 20px;
  }
}
