html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family, sans-serif;
  font-size: 18px;
  color: $dark-color;
  background-color: $light-color;

  @media (max-device-width: $tablet-width) {
    font-size: 14px;
  }

  @media (max-device-width: $mobile-width) {
    font-size: 16px;
  }
}

.none {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.color-accent {
  color: $accent-color;
}

.text-bold {
  font-weight: 700;
}
