// Шрифты

$font-family: "Open Sans";
$second-family: "TT Norms";

// Цветовая палитра

$dark-color: #0c0c0c;
$dark-second-color: #000000;
$dark-support-color: #4b4b4b;
$dark-transparent-color: rgba(0, 0, 0, 0.3);
$light-color: #ffffff;
$light-second-color: #f1f1f1;
$light-transparent-color: rgba(255, 255, 255, 0.9);
$accent-color: #e3010f;

//Viewports

$tablet-width: 1199px;
$mobile-width: 767px;
